<div class="flex mt-2">
  <app-button type="primary" label="Zmień nazwę" (clickButton)="openChangeNameModal()" />
  <app-button type="secondary" label="Zmień hasło" classes="ml-2" (clickButton)="openChangePasswordModal()" />
  <app-button type="danger" label="Usuń konto" classes="ml-2" (clickButton)="openDeleteProfileModal()" />

  <app-modal [title]="getModalTitle()" [isOpen]="isModalOpen" (closeModal)="closeModal()">
    <ng-container [ngSwitch]="modalName">
      <ng-container *ngSwitchCase="'name'">
        <app-input [(value)]="name" label="Nowa nazwa użytkownika" placeholder="Wprowadź nazwę użytkownika" />
        <app-button classes="mt-2 m-auto" label="Zmień nazwę" [loading]="loading"
          (clickButton)="changeUserData('name')" />
      </ng-container>

      <ng-container *ngSwitchCase="'password'">
        <app-input type="password" [(value)]="password" label="Nowe hasło użytkownika"
          placeholder="Wprowadź hasło użytkownika" />
        <app-input type="password" [(value)]="passwordConfirmation" label="Potwierdzenie hasła użytkownika"
          placeholder="Wprowadź hasło użytkownika jeszcze raz" />
        <app-button classes="mt-2 m-auto" label="Zmień hasło" [loading]="loading"
          (clickButton)="changeUserData('password')" />
      </ng-container>

      <ng-container *ngSwitchCase="'delete'">
        <app-typography type='title'>
          Uwaga - potwierdzasz USUNIĘCIE tego konta!
        </app-typography>
        <app-typography type='text'>
          Tej akcji nie da się odwrócić! Jeżeli nie chcesz tego robić, po prostu zamknij to okno.
        </app-typography>
        <app-button classes="mt-2 m-auto" type="danger" label="Usuń konto" [loading]="loading"
          (clickButton)="deleteUser()" />
      </ng-container>
    </ng-container>

    <app-error-message *ngIf="error" [message]="error" />
  </app-modal>
</div>